
/*      TRANSITION   */
@keyframes transitionIn{
    from{
        opacity: .5;
        filter: blur(20px);
    }

    to{
        opacity: 1;
        filter: none;

    }
}
/*      TRANSITION ENDS   */

/*      OVERALL FORMAT START   */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(/img/background.png);
    background-size: cover;
    position: relative;
    padding-top: 200px;
    animation: transitionIn 0.75s;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    display: none;
}
/*      OVERALL FORMAT START   */

/*      NAVBAR START   */
nav{
    width: 100%;
    display: flex;
    padding-bottom: 1px;
    padding-top: 1px;
    float: right;
    align-items: center;
    background-color: rgba(19, 26, 39, 0.596);
    position: fixed;
    top: 0;
    backdrop-filter: blur(3px);
    box-shadow: 0 20px 30px rgba(3, 3, 3, 0.418);
    z-index: 10;
}
.logo img{
    width: 300px;
    float: left;
}
.nav-links{
   flex: 1;
   text-align: right;
   padding-right: 1%;
}
.nav-links ul li{
    display: inline-block;
    padding: 8px 5px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: block;
}
.nav-links ul li a.active,
.nav-links ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-weight: 400;
}
.headerEpisode i{
    display: none;
}
/*      NAVBAR ENDS  */

/*      SMALL SCREEN START   */
@media only screen and (max-width: 850px){
    .nav-links ul li{
        display: block;
        padding: 20px;
        top: 20%;
    }
    .nav-links ul li a{
        font-size: 30px;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -900px;
        text-align: center;
        z-index: 2;
        background-color: rgb(0, 0, 0);
        transition: 1s; 
    }
    .headerEpisode i{
        text-align: right;
        display: block;
        color: white;
        margin: 10px;
        cursor: pointer;
        font-size: 40px;
    }
    #menu{
        position: absolute;
        right: 0;
    }
    .container-footer{
        width: 100%;
    }
    .containerEps{
        min-width: 90vmin;
        height: 70vh;
    }
    .eps-content{
        padding: 1em 1.2em;
    }
    .eps-content img{
        padding: 2px;
        max-width: 400px;
        max-height: 300px;
    }
    .eps-content p{
        width: 100%;
    }
    #tabL{
        position:absolute;
        transform: translate(-450%, -50%);
        top: 50%;
        left: 50%;
        max-width: 60px;
    }
}
/*      SMALL SCREEN ENDS  */


/*     HEADING TEXT START   */

.epsBody h1{
    color: aliceblue;
    font-size: 62px;
    text-align: center;
    padding-bottom: 40px;
}
/*     HEADING TEXT START   */

/*     EPISODE START   */
.eps-box{
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
}
.containerEps{
    width: 95vmin;
    font-size: 20px;
    min-width: 30em;
    height: 30em;
    margin-top: 400px;
    display: grid;
    grid-template-columns: 2fr 9fr;
}
.leftTabs{
    border: 1px solid rgba(238, 9, 9, 0.678);
    display:block;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 150px;
    padding: 0;
}
.eps-box .leftTabs{
    position:absolute;
    transform: translate(-400%, -50%);
    top: 50%;
    left: 50%;
}
.leftTabs h3{
    color: rgb(255, 255, 255);
}
.leftTabs h3:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    transition: 0.5s;
}
.eps-content img{
    width: 850px;
    height: 550px;
    padding: 50px;
    border: 1px solid rgba(226, 0, 0, 0.514);
}
.eps-content h4{
    font-size: 30px;
    margin-bottom: 0.5em;
    display: grid;
    place-items: center;
    height: 33.33%;
    font-weight: 600;
    color: white;
}
.eps-content{
    padding: 1em 1.5em;
}
.eps-content p{
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 100%;
    padding: 5px;
}
.eps-content div{
    display: none;
}
.eps-content .active{
    display: block;
}
.leftTabs .active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
/*     EPISODE ENDS  */


/*     FOOTER START   */
.container-footer{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: rgba(19, 26, 39, 0.596);
    padding: 30px 0;
    margin-top: 20%;
}
footer div img{
    width: 300px;
}
footer div{
    text-align: center;
}
footer div h3{
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: aliceblue;
}
.col{
    flex-grow: 1;
}
.col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.637);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.col .social-links a:hover{
    color:rgba(255, 0, 0, 0.932);
    background-color: azure;
}
.credits a{
    color: white;
}
/*     EPISODE ENDS   */