
/** TRANSITION   **/

@keyframes transitionIn{
    from{
        opacity: 0;
        filter:brightness(50%);
    }

    to{
        opacity: 1;
        filter: none;
    }
}
@keyframes nav-load{
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}
/** TRANSITION ENDS **/


/** OVERALL FORMAT   **/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(../img/background.png);
    background-size: cover;
    position: relative;
    user-select: none;
}
.headerIndex{
    padding-bottom: 100px;
    height: 170vh;
    width: 100%;
    background-image: url(../img/navigation_bg.png);
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: transitionIn 5s;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    display: none;
}
/** OVERALL FORMAT ENDS **/


/**      NAVIGATION BAR    **/
nav{
    width: 100%;
    display: flex;
    padding-bottom: 1px;
    padding-top: 1px;
    float: right;
    align-items: center;
    background-color: rgba(19, 26, 39, 0.596);
    position: fixed;
    top: 0;
    backdrop-filter: blur(3px);
    box-shadow: 0 20px 30px rgba(3, 3, 3, 0.418);
    z-index: 10;
    animation: nav-load 1s ease-in 0s;
}
.logo img{
    width: 300px;
    float: left;
}
.nav-links{
   flex: 1;
   text-align: right;
   padding-right: 1%;
}
.nav-links ul li{
    display: inline-block;
    padding: 8px 5px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: block;
}
.nav-links ul li a.active,
.nav-links ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-weight: 400;
}
.headerIndex i{
    display: none;
}

/**      NAVIGATION BAR ENDS   **/


/**         HEADING TEXT      **/
.container .intro-box{
    position: relative;
    padding-bottom: 7%;
    width: 90%;
    color:rgb(255, 255, 255);
}
.intro-box{
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(0, 20%);
    text-align: center;
}
.intro-box h1{
    font-size: 62px;
}
/**     HEADING TEXT ENDS   **/

/** HEADING PARAGRAPH   **/
.intro-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: white;
}
/** HEADING PARAGRAPH ENDS **/


/** SMALL SCREEN   **/
@media only screen and (max-width: 850px){
    .intro-box h1{
    font-size: 31px;
    }
    .nav-links ul li{
        display: block;
        padding: 20px;
        top: 20%;
    }
    .nav-links ul li a{
        font-size: 30px;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -900px;
        text-align: center;
        z-index: 2;
        background-color: rgb(0, 0, 0);
        transition: 1s; 
    }
    .headerIndex i{
        text-align: right;
        display: block;
        color: white;
        margin: 10px;
        cursor: pointer;
        font-size: 40px;
    }
    #menu{
        position: absolute;
        right: 0;
    }
    .container iframe{
        position: block;
        top: 0;
        left: -40%;
        width: 500px;
        height: 300px;
        align-items: center;
        padding: 0;
    }
    .trailers h2{
        font-size: 20px;
        position: relative;
        width: 15%;
        justify-content: center;
    }
}
/** SMALL SCREEN  ENDS **/

/** TRAILERS' FORMAT **/
.trailers{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgb(189, 0, 0);
    justify-content: center;
}
.trailers .trailerLink{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
.trailers iframe{
    padding: 20px;
    width: 70%;
    height: calc(.3800 * 90vw);
    min-width: 320px;
    min-height: 180px;
}
/** TRAILERS' FORMAT ENDS**/


/** TRAILERS' TITLE  **/
.trailers h2{
    position: relative;
    width: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
}
/** TRAILERS' TITLE ENDS **/


/** FOOTER SECTION   **/
.container-footer{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: rgba(19, 26, 39, 0.596);
    padding: 30px 0;
    margin-top: 15%;
}
footer div img{
    width: 300px;
}
footer div{
    text-align: center;
}
footer div h3{
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: aliceblue;
}
.col{
    flex-grow: 1;
}
.col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.637);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.col .social-links a:hover{
    color:rgba(255, 0, 0, 0.932);
    background-color: azure;
}
.credits a{
    color: white;
}
/** FOOTER SECTION ENDS **/